.sidebarWrapper {
  display: flex;
  width: 20%;
  text-align: left;
}

.sidebar {
  position: fixed;
    top: 11%;
    left: 0;
    width: 20%;
    background-color: #f3f4f6;
    padding: 1rem;
    height: 85vh;
    overflow-y: auto;
}

.sidebar button {
  color: black;
  text-align: left;
}

  
  .sidebarTitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .treeNode {
    margin-left: .5rem;
  }
  
  
  .fileButton {
    /* color: rgb(0, 191, 191); */
    /* text-decoration: underline; */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: .8em;
  }
  
  .folderButton {
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: .8em;
  }
  
  .loadingText {
    font-size: 1rem;
  }
  

/* --- Responsive hidden sidebar --- */
@media (max-width: 900px) {
  .sidebarWrapper {
    width: 0;
  }

  .sidebar {
    width: 0;
    padding: 0;
    overflow: hidden;
  }
}