.home {
    margin-top: 8rem;
}

.appIcon {
    max-width: 10rem;
    border-style: none;
    cursor: pointer;
}

.flyAcross {
    animation: flyAcross 1s ease-in-out forwards;
}

@keyframes flyAcross {
    0% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(120vw);
    }

    41% {
        transform: translateX(-120vw);
    }

    100% {
        transform: translateX(0);
    }
}