/* SearchBar.module.css */

.searchBarDiv {
  width: 75%;
  max-width: 600px;
  margin-top: 5rem;
  margin: 1rem 1rem;
  /* position: relative; */
}

.searchInput {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: white;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.searchInput:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.results {
  margin-top: 0.5rem;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.resultItem {
  padding-left: .5rem;
}
